<div class="card">
  <img class="card-img-top" [src]="cardObject.url" alt="Card image cap" (click)="actions.handleClickCard(cardObject)">
  <div class="card-body">
    <app-upload *ngIf="editing" [formLabels]="uploadLabels" [formGroup]="formGroup" [buttons]="uploadButtons"></app-upload>
    <label class="lead" *ngIf="!editing">{{cardObject.name}}</label>
    <label class="lead" *ngIf="!editing">{{cardObject.caption}}</label>
    <br />
    <button type="button" class="btn btn-warning" (click)="actions.setEdit()" *ngIf="!editing">Edit</button>
    <button type="button" class="btn btn-danger" *ngIf="!editing">Delete</button>
  </div>
</div>
