<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Loader</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			<h2>1. Implementation</h2>
			<h3>1.1. Adding the loader component</h3>
			<p>To add a loader to the application, import the <code>LoaderComponent</code>
				from the Arizona Pattern Library into the application's root module <strong>app.module.ts</strong>.</p>
			<section highlight-js-content=".highlight">
				<pre><code class="highlight">import {{ '{' }} LoaderComponent {{ '}' }} from 'arizona-pattern-library/lib/components/loader/loader.component';
...

@NgModule({{ '{' }}
	...
	declarations: [Loader]
{{ '}' }})
export class AppModule {{ '{' }} {{ '}' }}
</code></pre>
			</section>
			<h3>1.2. Using the loader component</h3>
			You can use the <code>arz-loader</code> tag in a components template.
			The tag has the following attributes:
			<ul>
				<li><strong>busy:</strong> boolean to display or hide the loader component</li>
				<li><strong>options:</strong> <em>(Optional)</em> Optional parameters to customize the loader.</li>
			</ul>
			<h4>1.2.1. Busy</h4>
			This is an a boolean representing whether the loader should be displayed or not.
			<h4>1.2.1. Options</h4>
			The options parameter should implement the <Code>LoaderOptions</Code> interface.
			<section highlight-js-content=".highlight">
			<pre><code class="highlight">interface LoaderOptions {{ '{' }}
	size?: string;
	borderWidth?: string;
	movingColor?: color;
	backgroundColor?: color;
{{ '}' }}
export type color = 'primary' | 'secondary' | 'tertiary' | 'success' | 'info' | 'warning' | 'danger'| 'light' | 'dark';
</code></pre>
			</section>
			<ul>
				<li><strong>size</strong>: The size of the loader in pixels, provided as a string. <strong>Default "40"</strong>.</li>
				<li><strong>borderWidth</strong>: The width of the border in pixels, provided as a string. <strong>Default "4"</strong>.</li>
				<li><strong>movingColor</strong>: The color of the spinning part, provided as a string. <strong>Default "primary"</strong>.</li>
				<li><strong>backgroundColor</strong>: The background color of the spinner, provided as a string. <strong>Default "light"</strong>.</li>
			</ul>
			<h2>2. Examples</h2>
			<h3>2.1 Default loader</h3>
			<div class="card w-50">
				<div class="card-body bg-light loader-block">
					<div class="d-flex justify-content-around">
						<arz-loader [isBusy]="(isDefaultBusy$ | async)"></arz-loader>
					</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-around">
						<button class="btn btn-primary" (click)="setBusy(isDefaultBusy$,true)">Start loader</button>
						<button class="btn btn-primary " (click)="setBusy(isDefaultBusy$,false)">Stop loader</button>
					</div>
				</div>
			</div>
			<br />
			<section highlight-js-content=".highlight">
				<pre><code class="highlight">&lt;arz-loader [isBusy]="(isDefaultBusy$ | async)"&gt;&lt;/arz-loader></code></pre>
			</section>
			<h3>2.2 Customized loader</h3>
			<div class="card w-50">
				<div class="card-body bg-secondary loader-block">
					<div class="d-flex justify-content-around">
						<arz-loader [isBusy]="(isCustomizedBusy$ | async)" [options]="options"></arz-loader>
					</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-around">
						<button class="btn btn-primary" (click)="setBusy(isCustomizedBusy$,true)">Start loader</button>
						<button class="btn btn-primary " (click)="setBusy(isCustomizedBusy$,false)">Stop loader</button>
					</div>
				</div>
			</div>
			<br />
			<section highlight-js-content=".highlight">
				<pre><code class="highlight">&lt;arz-loader [isBusy]="(isCustomizedBusy$ | async)" [options]="options"&gt;&lt;/arz-loader></code></pre>
			</section>
			<section highlight-js-content=".highlight">
			<pre><code class="highlight">options = {{ '{' }}
	size: '30';
	borderWidth: '3';
	movingColor: 'warning';
	backgroundColor: 'tertiary';
{{ '}' }}
</code></pre>
			</section>
		</div>
	</div>
</div>
