/* You can add global styles to this file, and also import other style files */
@import 'overrides.scss';

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "app/scss/util";

.form-group {
  position: relative;
  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 0.5rem;
    top: 0.5rem;
    transition: 0.2s ease all;
    z-index: 3;
  }
  input:focus~.floating-label,
  input.has-value~.floating-label {
    top: -1.125rem;
    left: 0rem;
    font-size: 0.625rem;
  }
}
